//AngularJS
script(type='text/javascript', src='/js/libs/vendor/angular/angular.js')
script(type='text/javascript', src='/js/libs/vendor/angular-sanitize/angular-sanitize.min.js')
script(type='text/javascript', src='/js/libs/vendor/angular-bootstrap/ui-bootstrap.min.js')
script(type='text/javascript', src='/js/libs/vendor/angular-ui-router/release/angular-ui-router.js')
script(type='text/javascript', src='/js/libs/vendor/angular-route/angular-route.min.js')
//JQuery
script(type='text/javascript', src='/js/libs/vendor/jquery/dist/jquery.min.js')
//Bootstrap
script(type='text/javascript', src='/js/libs/vendor/bootstrap/dist/js/bootstrap.min.js')
//Load Angular
script(type='text/javascript', src='/js/app.js')
script(type='text/javascript', src='/js/init.js')
//Page Controllers
script(type='text/javascript', src='/js/controllers/ShortcutController.js')
script(type='text/javascript', src='/js/controllers/SearchController.js')
script(type='text/javascript', src='/js/controllers/EditController.js')
script(type='text/javascript', src='/js/controllers/LoginController.js')
//Stand Alone Directives
script(type='text/javascript', src='/js/directives/Results/Results.js')
script(type='text/javascript', src='/js/directives/UpdateTitle.js')
//Shortcut Form Directive
script(type='text/javascript', src='/js/directives/ShortcutForm/ShortcutFormController.js')
script(type='text/javascript', src='/js/directives/ShortcutForm/ShortcutFormService.js')
script(type='text/javascript', src='/js/directives/ShortcutForm/ShortcutForm.js')
//Auth0
//Angular Cookies
script(src='//code.angularjs.org/1.2.16/angular-cookies.min.js')
//Auth0 Lock script and AngularJS module
script(src='//cdn.auth0.com/js/lock-6.js')
//angular-jwt and angular-storage
script(type='text/javascript' src='//rawgit.com/auth0/angular-storage/master/dist/angular-storage.js')
script(type='text/javascript' src='//rawgit.com/auth0/angular-jwt/master/dist/angular-jwt.js')
script(src='//cdn.auth0.com/w2/auth0-angular-3.js')
//CSS
link(rel='stylesheet', href='js/libs/vendor/bootstrap/dist/css/bootstrap.css')
