//AngularJS
script(type='text/javascript', src='/js/libs/vendor/angular/angular.js')
script(type='text/javascript', src='/js/libs/vendor/angular-sanitize/angular-sanitize.min.js')
script(type='text/javascript', src='/js/libs/vendor/angular-bootstrap/ui-bootstrap.min.js')
script(type='text/javascript', src='/js/libs/vendor/angular-ui-router/release/angular-ui-router.js')
script(type='text/javascript', src='/js/libs/vendor/angular-route/angular-route.min.js')
script(type='text/javascript', src='/js/libs/vendor/jquery/dist/jquery.min.js')
script(type='text/javascript', src='/js/libs/vendor/bootstrap/dist/js/bootstrap.min.js')
script(type='text/javascript', src='/js/app.js')
script(type='text/javascript', src='/js/init.js')
script(type='text/javascript', src='/js/controllers/ShortcutController.js')
script(type='text/javascript', src='/js/controllers/ShortcutFormController.js')
script(type='text/javascript', src='/js/controllers/SearchController.js')
script(type='text/javascript', src='/js/controllers/EditController.js')
script(type='text/javascript', src='/js/directives/Results.js')
script(type='text/javascript', src='/js/directives/UpdateTitle.js')
script(type='text/javascript', src='/js/directives/ShortcutForm.js')
script(type='text/javascript', src='/js/services/ShortcutFormService.js')
link(rel='stylesheet', href='js/libs/vendor/bootstrap/dist/css/bootstrap.css')
