extends layout

block content
	br
	div.ui-view

block extraScripts
	script(type='text/javascript', src='/js/controllers/ShortcutController.js')
	script(type='text/javascript', src='/js/controllers/SearchController.js')

