//Mixins
mixin signInButton(type, extraClasses)
	- var condition 
	- if (type == "Sign in") { condition = "!loggedIn" } else { condition = "loggedIn" }
	div(ng-if=condition)
		button.btn.btn-primary.navbar-btn.pull-right(class=extraClasses  ng-click="execute()")
			| #{type}
//Layout
doctype html
html.container
	head
		meta(name="viewport" content="width=device-width, initial-scale=1")
		include includes/head
	body
		nav.navbar.navbar-default.navbar-inverse.navbar-fixed-top(role="navigation")
			div.container
				div.navbar-header
					button.navbar-toggle(type="button" data-toggle="collapse" data-target="#navbarCollapse")
						span(class="sr-only") Toggle Navigation
						span(class="icon-bar")
						span(class="icon-bar")
						span(class="icon-bar")
					a.navbar-brand#homeLink(data-toggle="collapse" data-target="#navbarCollapse" href="#") 
						| #{title}
					div(ng-controller="loginController")
						+signInButton("Sign in", "!loggedIn", "hidden-sm hidden-md hidden-lg")
						+signInButton("Sign out", "loggedIn", "hidden-sm hidden-md hidden-lg")
				div.collapse.navbar-collapse#navbarCollapse
					ul.nav.navbar-nav(role="menu")
						li
							a#shortcutsLink(data-toggle="collapse" data-target="#navbarCollapse" ng-href="/#/partials/shortcuts") Shortcuts Home
						li
							a#searchLink(data-toggle="collapse" data-target="#navbarCollapse" ng-href="/#/partials/search") Search
					div(ng-controller="loginController")
						+signInButton("Sign in", "hidden-xs")
						+signInButton("Sign out", "hidden-xs")
		block content
		include includes/foot
		block extraScripts