body {
    padding-top: 70px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.shortcut-row{
    border-style : dotted;
    border-width: 1px;
    padding : 5px;
}

.shortcut{
}

input.ng-invalid.submitted{
    border-width: 2px;
    border-color: red;
}

.error-message{
    color:red;
}

.ng-hide{
    display: block!important;
    visibility: hidden;
}

:disabled{
    background : gray;
}