<section data-ng-controller="HomeController">
    <div class="jumbotron text-center">
        <div class="row">
            <h1 class="main-title">
				Shortcut Junkie
			</h1>
        </div>
        <br>
        <div class="row">
            <p class="lead">
                The stackoverflow of neat keyboard tricks!
            </p>
        </div>
    </div>
    <div class="list-group">
        <div class="list-group-item">
            <h2>Learn keyboard shortcuts</h2>
            <p class="bodyMessage">
                Shortcut Junkie is your one stop shop for shortcuts from any application*.
                <br/> No more needing to go look through their reference docs!
            </p>
            <p class="footerMessage">
                <small>*We're still building out this site to include more and more applications. If we're missing the one you want, check out how to contribute!</small>
            </p>
        </div>

        <div class="list-group-item">
            <h2>Remember your favorites</h2>
            <p class="bodyMessage">
                Want to keep a shortcut for quick reference? Once you are logged in to Shortcut Junkie, you can mark a shortcut as favorite and then view all your favorites in one convenient list.
            </p>
        </div>
    </div>
</section>