.shortcut {
    .dataValue {
        padding-left: 10px;
    }
}
.shortcutTable {
    .keyCombination {
        width: 20%
    }
    .application {
        width: 10%
    }
    .description {
        width: 30%
    }
    .operatingSystem {
        width: 10%
    }
}
.list-group {
    border: 0 !important;
    box-shadow: 0 0 0 !important;
}
.sidebar {
    button {
        text-align: left !important;
        background-position: 0 !important;
    }
    .btn:focus {
        outline: none;
    }
}
.osSelect {
    width: 300px;
}