<section data-ng-controller="ShortcutsController" data-ng-init="find()" id="wrapper">
    <div class="page-header">
        <h1>{{selectedApplication}} Shortcuts</h1>
    </div>

    <!-- Sidebar, medium+ screen -->
<!--     <div class="sidebar list-group btn-group-vertical col-md-2 visible-md-block visible-lg-block" role="group">
        <div class="list-group-item">Applications</div>
        <button data-ng-repeat="application in applications" type="button" class="list-group-item btn btn-default pull-left" ng-class="{active: application === selectedApplication}" ng-click="selectApplication(application)">{{application}}</button>
    </div> -->

    <!-- Scroll picker, mobile screen -->
<!--     <div class="visible-xs-block visible-sm-block">
        <ui-select ng-model="$parent.application" theme="bootstrap">
            <ui-select-match placeholder="Select an application">{{application}}</ui-select-match>
            <ui-select-choices repeat="application in applications">
                <div ng-click="selectApplication(application)">{{application}}</div>
            </ui-select-choices>
        </ui-select>
    </div> -->
    <!-- OS picker -->
    <div>
        <ui-select class="osSelect pull-right" ng-model="$parent.selectedOS">
            <ui-select-match placeholder="Select an operatingSystem">{{selectedOS}}</ui-select-match>
            <ui-select-choices repeat="operatingSystem in operatingSystems">
                <div>{{operatingSystem}}</div>
            </ui-select-choices>
        </ui-select>
    </div>

    <div class="col-xs-12 container">
        <!-- Shortcuts -->
        <div data-ng-repeat="(category, groupedShortcuts) in categories">
            <h3>{{category}}</h3>
            <table class="table table-hover shortcutTable">
                <thead>
                    <tr>
                        <th class="keyCombination">Key Combination</th>
                        <th class="application" ng-hide="selectedApplication">Application</th>
                        <th class="description">Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-click="view(shortcut)" data-ng-repeat="shortcut in groupedShortcuts">
                        <td class="keyCombination">
                            <div data-ng-bind="shortcut.keyCombination"></div>
                        </td>
                        <td class="application" ng-hide="selectedApplication">
                            <div data-ng-bind="shortcut.application"></div>
                        </td>
                        <td class="description">
                            <div data-ng-bind="shortcut.description"></div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!shortcuts.$resolved || shortcuts.length">
        No Shortcuts yet, why don't you <a href="/#!/shortcuts/create">create one</a>?
    </div>
</section>