<section data-ng-controller="ShortcutsController" data-ng-init="findOne()">
	<div class="page-header">
		<h1>View shortcut</h1>
	<div>
	<div class="shortcut">
		<div data-ng-bind="shortcut.keyCombination" class="keyCombination"></div>
		<div data-ng-bind="shortcut.application" class="application"></div>
		<div data-ng-bind="shortcut.description" class="description"></div>
		<div data-ng-bind="shortcut.operatingSystem" class="operatingSystem"></div>
	</div>
	<div class="pull-right" data-ng-show="authentication.user._id == shortcut.user._id">
		<a class="btn btn-primary" href="/#!/shortcuts/{{shortcut._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="shortcut.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="shortcut.user.displayName"></span>
		</em>
	</small>
</section>