<div class = "shortcut" ng-repeat="shortcut in foundShortcuts">
	<table class="pull-right">
		<tr>
			<td>
				<!-- <button class="pull-right modifyButton btn btn-primary"> Edit  -->
				<a class="editLink pull-right modifyButton btn btn-primary" ng-href = "/#/partials/edit/{{shortcut._id}}">Edit </a>
				<!-- </button> -->
			</td>
		</tr>
		<tr>
			<td>
				<button ng-click="delete(shortcut)" class="deleteLink pull-right modifyButton btn btn-danger"> Delete </button>
			</td>
		</tr>
	</table>
	<ul>
		<li class="applicationInfo">application = {{shortcut.application}}</li>
		<li class="operatingSystemInfo">operatingSystem = {{shortcut.operatingSystem}}</li>
		<li class="keysetInfo">keyset = {{shortcut.keyset}}</li>
		<li class="descriptionInfo">description = {{shortcut.description}}</li>
		<li class="idInfo">id = {{shortcut._id}}</li>
	</ul>
</div>