<div class = "shortcut" ng-repeat="shortcut in foundShortcuts">
	<table class="pull-right">
		<tr>
			<td>
				<!-- <button class="pull-right modifyButton btn btn-primary"> Edit  -->
				<a class="editLink pull-right modifyButton btn btn-primary" ng-href = "/#/partials/edit/{{shortcut._id}}">Edit </a>
				<!-- </button> -->
			</td>
		</tr>
		<tr>
			<td>
				<button ng-click="delete(shortcut)" class="deleteLink pull-right modifyButton btn btn-danger"> Delete </button>
			</td>
		</tr>
	</table>
	<ul>
		<li>
			application = <span class="applicationInfo">{{shortcut.application}}</span>
		</li>
		<li>
			operatingSystem = <span class="operatingSystemInfo">{{shortcut.operatingSystem}}</span>
		</li>
		<li>
			keyset = <span class="keysetInfo">{{shortcut.keyset}}</span>
		</li>
		<li>
			description = <span class="descriptionInfo">{{shortcut.description}}</span>
		</li>
		<li>
			id = <span class="idInfo">{{shortcut._id}}</span>
		</li>
	</ul>
</div>