<div>
    <h3>Search all available shortcuts</h3>
    
    <form ng-submit="search()">
        <select id="searchType" ng-model= "searchType" ng-options = "choice.name for choice in searchChoices
            | filter: { name : '!_v' }
            | filter: { name : '!_id' }">
            <option value="">Select a search type</option>
        </select>
        <input type="text" id= "searchCriteria" ng-model = "searchCriteria">
        <input type="submit" id= "search"/>
    </form>
    <div ng-if="noneFound">
        <p>No shortcuts were found matching that criteria</p>
    </div>
    <h3 ng-if="foundShortcuts">Results</h3>
    <div results></div>
</div>