.shortcut {
  border: 1px solid #cccccc;
  background: #fffc70;
  display: table;
  height: 150px;
  width: 100%;
  text-align: center;
  border-radius: 5px; }
  .shortcut .keyCombination {
    height: 100%;
    width: 50%;
    font-size: 300%;
    border-right: 1px solid #cccccc;
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    padding-left: 10px; }
  .shortcut .application {
    border-bottom: 1px solid #cccccc;
    height: 20%; }
  .shortcut .description {
    vertical-align: middle;
    height: 60%; }
  .shortcut .operatingSystem {
    border-top: 1px solid #cccccc;
    vertical-align: middle;
    height: 20%; }

.list-group {
  border: 0 !important;
  box-shadow: 0 0px 0px !important; }

.sidebar button {
  text-align: left !important;
  background-position: 0px !important; }
.sidebar .btn:focus {
  outline: none; }
