.shortcut .dataValue {
  padding-left: 10px; }

.shortcutTable .favoriteBtn {
  width: 5%; }
  .shortcutTable .favoriteBtn .favoriteCount {
    font-style: italic;
    font-size: smaller;
    text-align: center;
    margin-top: -5px;
    color: #9d9d9d; }

.keyCombination {
  width: 45%; }

.description {
  width: 50%; }

.list-group {
  border: 0 !important;
  box-shadow: 0 0 0 !important; }

.sidebar button {
  text-align: left !important;
  background-position: 0 !important; }
.sidebar .btn:focus {
  outline: none; }

.osSelect {
  width: 300px; }
